<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>coursemanager</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.coursemanager.util.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvaluationServlet</display-name>
    <servlet-name>EvaluationServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.EvaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluationServlet</servlet-name>
    <url-pattern>/evaluation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeServlet</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/grade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseActionServlet</display-name>
    <servlet-name>BaseActionServlet</servlet-name>
    <servlet-class>com.coursemanager.util.BaseActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseActionServlet</servlet-name>
    <url-pattern>/baseAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PracticeServlet</display-name>
    <servlet-name>PracticeServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.PracticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracticeServlet</servlet-name>
    <url-pattern>/practice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHandleServlet</display-name>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/UploadHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFileServlet</display-name>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.ListFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/ListFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/servlet/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileuploadServlet2</display-name>
    <servlet-name>FileuploadServlet2</servlet-name>
    <servlet-class>com.coursemanager.controller.FileuploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileuploadServlet2</servlet-name>
    <url-pattern>/fileuploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutServlet</display-name>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>com.coursemanager.controller.OutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/out</url-pattern>
  </servlet-mapping>
</web-app>